/* ------ CUSTOME PROPERTIES ---------- */


/* ------ SET UP BODY ---------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

@media (width >= 576px) {
    body {
        display: flex;
    }
}

/* 
vh - viewport height, 1vh == 1% of viewport height
vw - viewport width, 1vw == 1% of viewport width
*/

/* ------ TYPOGRAPHY ---------- */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 3px 3px #816fca;
}

@media (width >= 576px) {
    h1 {
        font-size: 5vw;
    }
}

h2 {
    font-size: 2.25rem;
    margin: 0.1667em 0;
}

@media (width >= 576px) {
    h2 {
        font-size: 2.625rem;
    }
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.beta-text,
.subheading {
    font-weight: 900;
}

@media (width >= 576px) {
    .beta-text {
        font-size: 1.25rem;
    }
}

.subheading {
    color: #575757;
    margin-bottom: 0.3334;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Intro
   ================= */

.intro { 
    color: #fff;
    background-image: url("./images/intro-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #9480e4;
    text-align: center;
    min-height: 250px;
    justify-content: center;
    align-items: center;
}

@media (width >= 576px) {
    .intro {
        flex-basis: 50%;
        min-height: 100vh;
        padding: 0 2em;
    }
}

/* ====================
    Main content
   ==================== */

.main-content {
    align-items: center;
    padding: 2.5em 2em 0;
}

@media (width >= 576px) {
    .main-content {
        flex-basis: 50%;
        justify-content: center;
        /* inset: 0; margin: auto; also possible*/
        padding: 0 2em;
    }
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */

input,
.btn {
    width: 100%;
    font-family: inherit;
    border-radius: 5px;
}

input {
    margin-bottom: .75em;
    padding: .5em;
    border: 2px solid #d1d5db;
}

input:hover,
input:focus,
input:active {
    outline: none;
    border: 2px solid #8a71ec;
    background-color: #e6e8ec;
}

.btn {
    font-weight: 900;
    border: none;
    padding: 1em 0;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #8a71ec;
    margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #b7a7f6;
}


/* ------ UTILITY CLASSES ---------- */

.flex {
    display: flex;
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}